header{
    background:#2c3e50;
    color:#fff;
}
.main{
    background:#f2f2f2;
}
.color1 {
	background: #34495e;
	color:#fff;
}
aside{
    background:#c0392b;
    color:#fff;
}
footer{
    background:#16a085;
    color:#fff;
}﻿
body {
width: 100% ;
height: 100%;
}
.portada{
    background: url() no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;

}